{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<link rel="stylesheet" href="{{ static_url('css/index.css') }}" type="text/css"/>
{% end %}

{% block body %}

<h1 class="title top" >arXivTimes Indicator</h1>

<div style="padding-left:10px; padding-right:10px;height:250px">
  <canvas id="chart"></canvas>
</div>

<div id="app" class="container" v-cloak>
    <div class="tabs is-centered is-boxed is-medium">
    <ul>
        <li v-on:click="activate('all')" v-bind:class="isActive('all')">
          <a>
            <span>All</span>
          </a>
        </li>
        <li v-on:click="activate('cv')" v-bind:class="isActive('cv')">
          <a>
            <span>&nbsp;</span>
            <span class="icon is-small"><i class="fa fa-eye"></i></span>
            <span>&nbsp;</span>
          </a>
        </li>
        <li v-on:click="activate('nlp')" v-bind:class="isActive('nlp')">
          <a>
            <span>&nbsp;</span>
            <span class="icon is-small"><i class="fa fa-commenting-o"></i></span>
            <span>&nbsp;</span>
          </a>
        </li>
        <li v-on:click="activate('audio')" v-bind:class="isActive('audio')">
          <a>
            <span>&nbsp;</span>
            <span class="icon is-small"><i class="fa fa-volume-up"></i></span>
            <span>&nbsp;</span>
          </a>
        </li>
        <li v-on:click="activate('rl')" v-bind:class="isActive('rl')">
          <a>
            <span>&nbsp;</span>
            <span class="icon is-small"><i class="fa fa-android"></i></span>
            <span>&nbsp;</span>
          </a>
        </li>
        <li v-on:click="activate('opt')" v-bind:class="isActive('opt')">
          <a>
            <span>&nbsp;</span>
            <span class="icon is-small"><i class="fa fa-map-o"></i></span>
            <span>&nbsp;</span>
          </a>
        </li>
    </ul>
    </div>
    <div class="content-area">
      <div class="columns">
        <div class="column">
          <h1 class="title">[[title]]</h1>
        </div>
        <div class="column">
          <div class="field has-addons" style="float:right">
              <p class="control" >
                  <a v-bind:class="['button', {'is-focused': isRecent}]" v-on:click="toggleList">
                  <span>Recent</span>
                  </a>
              </p>
              <p class="control">
                  <a v-bind:class="['button', {'is-focused': !isRecent}]" v-on:click="toggleList">
                  <span>Quality</span>
                  </a>
              </p>
          </div>
          <br style="clear:both"/>
        </div>
      </div>
    </div>
    <br/>
    <div class="content-area">
      <article class="media" v-for="paper in filteredList">
        <figure class="media-left is-hidden-mobile">
          <p class="image is-64x64">
            <meter v-bind:value="paper.score" low="50" min="0" max="100">score</meter>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <a v-bind:href="paper.url" target="_paper" style="font-size:1.1em">[[paper.title]]</a>
              <br>
              <span>
              [[paper.headline | makeHeadline]]
              </span>
            </p>
          </div>
          <div>
            <div class="columns">
              <div class="column is-three-quarters">
                score:<strong>[[paper.score]]</strong>
                <img class="user-icon" v-bind:src="paper.avatar_url"/>
                <a v-bind:href="'user/' + [[paper.user_id]]" target="_user" style="line-height:1em">[[paper.user_id]]</a>
                <span style="margin-right:10px">[[paper.created_at | formatDate]]</span>
                <small v-bind:class="['axlabel', label.toLowerCase()]" v-for="label in paper.labels">[[label]]</small>
              </div>
              <div class="column" style="text-align:right; margin-right:5px">
                <a v-bind:href="pocketLink(paper)" target="_pocket" class="icon">
                    <i class="fa fa-2 fa-get-pocket" aria-hidden="true" style="color:#d3505a"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
</div>

{% module xsrf_form_html() %}
{% end %}

{% block bottom %}
<script>
    var POSTS = {% raw posts %};
    var STAT = {% raw stat %};
</script>
<script type="text/javascript" src="{{ static_url('js/global.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/indexApp.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/statChart.js') }}"></script>
<script>
  monthlyBars("chart", STAT);
</script>
{% end %}
